@font-face {
  font-family: "Pangolin";
  src: url("./Fonts/Pangolin/Pangolin-Regular.ttf");
}

@font-face {
  font-family: "CommingSoon";
  src: url("./Fonts/Coming_Soon/ComingSoon-Regular.ttf");
}
@font-face {
  font-family: "Lodrina";
  src: url("./Fonts/Londrina_Sketch/LondrinaSketch-Regular.ttf");
}

#info-container {
  padding: 80px;
  background-color: #24b3a8;
  color: white;
  font-family: "Pangolin";
  font-size: 20px;
}

#Contact-container {
  font-family: "Pangolin";
  color: #700baf;
}

.title {
  font-family: "Lodrina";
  font-size: 75px;
}

.btn-floating {
  width: 80px;
  height: 80px;
  background: #24b3a8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #ffffff;
  font-size: 35px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: none;
}
.btn-floating:active {
  background: #24b3a8;
}
input,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}
